<p-table #dt [value]="list" [scrollable]="true" [globalFilterFields]="['ProductID'
,'Module'
,'ModuleVariant'
,'ModuleVariantDescription'
,'PartNumber'
,'LeadTime'
]" styleClass="p-datatable-gridlines" scrollHeight="55vh">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="p-mt-2">
                <label for="Product" class="p-mr-4">Select scope</label>
                <p-dropdown [options]="productList" [(ngModel)]="ProductID"  placeholder="Select scope"
                    optionLabel="ProductName" optionValue="ProductID" (onChange)="onProductSelect($event)">
                    <ng-template let-item pTemplate="item">
                        {{item.ProductName}}  ( {{item.ValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        {{item.ProductName}}  ( {{item.ValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                </p-dropdown>
            </div>
            <!-- <div class="p-mt-4 p-ml-auto">
                <lable for="Product"  style="font-size: medium; font-weight: bold; color: blue;">Valid From 15/06/2022</lable>
            </div> -->
            <!-- <span class="p-input-icon-left p-ml-auto">
                 <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span> -->
            <!-- <div>
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="onAddClick()" class="p-button-rounded"
                    title="New"></button>
            </div> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th style="width:75px">Edit</th> -->
            <th>
                <tr>
                    <th>Module</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="Module" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="Module">
                            <p-sortIcon field="Module"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th>
                <tr>
                    <th>Module variant</th>
                    <th>
                        <div style="text-align: right;">
                            <!-- <p-columnFilter type="text" field="ModuleVariant" display="menu">
                            </p-columnFilter> -->
                            <p-columnFilter field="ModuleVariant" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold">Module variant Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="list" placeholder="Any" (onChange)="filter($event.value)" optionLabel="ModuleVariant" optionValue="ModuleVariant">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">                
                                                <span class="p-ml-1">{{option.ModuleVariant}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="ModuleVariant" style="text-align: right;">
                            <p-sortIcon field="ModuleVariant"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:500px">
                <tr>
                    <th>Module variant description </th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="ModuleVariantDescription" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="ModuleVariantDescription">
                            <p-sortIcon field="ModuleVariantDescription"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:200px">
                <tr>
                    <th> Part ID</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="PartNumber" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="PartNumber">
                            <p-sortIcon field="PartNumber"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <!-- <th>Lead Time</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productdetail>
        <tr>
            <!-- <td class="p-text-center" style="width:75px">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="onEditClick(productdetail)" title="Edit"></button>
            </td> -->
            <td>{{productdetail.Module}}</td>
            <td>{{productdetail.ModuleVariant}}</td>
            <td style="width:500px"> {{productdetail.ModuleVariantDescription}}</td>
            <td style="width:200px">{{productdetail.PartNumber}}</td>
        </tr>
    </ng-template>
</p-table>