<p-table #dt [value]="list" [scrollable]="true" [globalFilterFields]="['ProductID'
,'Module'
,'ModuleVariant'
,'ModuleVariantDescription'
,'PartNumber'
,'LeadTime'
]" styleClass="p-datatable-gridlines" scrollHeight="55vh">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="p-mt-2">
                <label for="Product" class="p-mr-4">Select scope</label>
                <p-dropdown [options]="productList" [(ngModel)]="ProductID"  placeholder="Select scope"
                    optionLabel="ProductName" optionValue="ProductID" (onChange)="onProductSelect($event)">
                    <ng-template let-item pTemplate="item">
                        {{item.ProductName}}  ( {{item.ValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        {{item.ProductName}}  ( {{item.ValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                </p-dropdown>
            </div>
            <!-- <div class="p-mt-4 p-ml-auto">
                <lable for="Product"  style="font-size: medium; font-weight: bold; color: blue;">Valid From 15/06/2022</lable>
            </div> -->
            <!-- <span class="p-input-icon-left p-ml-auto">
                 <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span> -->
            <!-- <div>
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="onAddClick()" class="p-button-rounded"
                    title="New"></button>
            </div> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th style="width:75px">Edit</th> -->
            <th>Module</th>
            <th>Module variant </th>
            <th style="width:500px">Module variant description </th>
            <th style="width:200px"> Part ID</th>
            <!-- <th>Lead Time</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productdetail>
        <tr>
            <!-- <td class="p-text-center" style="width:75px">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="onEditClick(productdetail)" title="Edit"></button>
            </td> -->
            <td>{{productdetail.Module}}</td>
            <td>{{productdetail.ModuleVariant}}</td>
            <td style="width:500px"> {{productdetail.ModuleVariantDescription}}</td>
            <td style="width:200px">{{productdetail.PartNumber}}</td>
            <!-- <td>{{productdetail.LeadTime}}</td> -->
        </tr>
    </ng-template>
</p-table>