<div>
    <p-table #dt [value]="list" [scrollable]="true"
        [globalFilterFields]="['Code','Name','EMailAddress','WebUserID', 'RoleName']" styleClass="p-datatable-gridlines"
        scrollHeight="55vh">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>User Name</th>
                <th style="width:250px">TiimeStamp </th>
                <th style="width:350px">FromValue</th>
                <th>ToValue</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-factoryleadtimelog>
            <tr>
                 <td>{{factoryleadtimelog.UserName}}</td>
                <td style="width:250px">{{factoryleadtimelog.TimeStamp}}</td>
                <td style="width:350px">{{factoryleadtimelog.FromValue}}</td>
                <td>{{factoryleadtimelog.ToValue}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>