<p-table #dt [value]="list" [scrollable]="true" [globalFilterFields]="['Module'
,'ModuleVariant'
,'ModuleVariantDescription'
,'PartNumber'
,'Weeks'
,'Weeks1'
,'Weeks2'
]" styleClass="p-datatable-gridlines" scrollHeight="55vh">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="p-mt-2">
                <label for="Factory" class="p-mr-4">Select factory</label>
                <p-dropdown [options]="factoryList" [(ngModel)]="FactoryID" placeholder="Select factory"
                    optionLabel="FactoryName" optionValue="FactoryID" (onChange)="onFactorySelect($event)">
                    <ng-template let-item pTemplate="item">
                        {{item.FactoryName}} ( {{item.ScopeValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        {{item.FactoryName}} ( {{item.ScopeValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                </p-dropdown>

            </div>
            <span class="p-input-icon-left p-ml-auto">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                    class="p-button-success mr-2" pTooltip="XLSX" tooltipPosition="bottom"></button>
            </span>
            <!-- <div class="p-mt-2">
                <label for="Product" class="p-mr-4">Select scope</label>
                <p-dropdown [options]="productList" [(ngModel)]="ProductID" placeholder="Select scope"
                    optionLabel="ProductName" optionValue="ProductID" (onChange)="onProjectSelect($event)">
                    <ng-template let-item pTemplate="item">
                        {{item.ProductName}}  ( {{item.ValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        {{item.ProductName}}  ( {{item.ValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                </p-dropdown>

            </div> -->
            <!-- <div class="p-mt-4 p-ml-auto">
                <lable for="Product"  style="font-size: medium; font-weight: bold; color: blue;">Valid From 15/06/2022</lable>
            </div> -->
            <!-- <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span> -->
            <!-- <div>
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="onAddClick()" class="p-button-rounded"
                    title="New"></button>
            </div> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:250px">
        <tr>
            <th>Module</th>
            <th>
                <div>
                    <p-columnFilter type="text" field="Module" display="menu" style="text-align: right;">
                    </p-columnFilter>
                </div>
                <div pSortableColumn="Module">
                    <p-sortIcon field="Module"></p-sortIcon>
                </div>
            </th>
        </tr>
        </th>
        <th style="width:100px">
            <tr>
                <th>Module variant</th>
                <th>
                    <div style="text-align: right;">
                        <p-columnFilter type="text" field="ModuleVariant" display="menu">
                        </p-columnFilter>
                    </div>
                    <div pSortableColumn="ModuleVariant" style="text-align: right;">
                        <p-sortIcon field="ModuleVariant"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>
        <th style="width:450px">
            <tr>
                <th>Module variant description</th>
                <th>
                    <div>
                        <p-columnFilter type="text" field="ModuleVariantDescription" display="menu">
                        </p-columnFilter>
                    </div>
                    <div pSortableColumn="ModuleVariantDescription">
                        <p-sortIcon field="ModuleVariantDescription"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>
        <th style="width:130px">
            <tr>
                <th>Part ID</th>
                <th>
                    <div>
                        <p-columnFilter type="text" field="PartNumber" display="menu"></p-columnFilter>
                    </div>
                    <div pSortableColumn="PartNumber">
                        <p-sortIcon field="PartNumber"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>
        <th style="text-align: right; width:100px">
            <tr>
                <th>Factory leadtime (in days)</th>
                <th>
                    <div>
                        <p-columnFilter type="numeric" field="leadtime" display="menu"></p-columnFilter>
                    </div>
                    <div pSortableColumn="leadtime">
                        <p-sortIcon field="leadtime"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>

        <th style="width:115px">
            <tr>
                <th>Market leadtime scopes (in days)</th>
                <th>
                    <div>
                        <p-columnFilter type="numeric" field="Multipleleadtime" display="menu"></p-columnFilter>
                    </div>
                    <div pSortableColumn="Multipleleadtime">
                        <p-sortIcon field="Multipleleadtime"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-factoryleadtime>
        <tr>
            <td style="width:250px">{{factoryleadtime.Module}}</td>
            <td style="width:100px">{{factoryleadtime.ModuleVariant}}</td>
            <td style="width:450px">{{factoryleadtime.ModuleVariantDescription}}</td>
            <td style="width:130px">{{factoryleadtime.PartNumber}}</td>
            <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input style="text-align: right; width:60px" pInputText type="text"
                            [(ngModel)]="factoryleadtime.leadtime">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.leadtime}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="width:115px">{{factoryleadtime.Multipleleadtime}}</td>
        </tr>
    </ng-template>
</p-table>