<p-table #dt [value]="list" [scrollable]="true" [globalFilterFields]="['MarketLeadtimeScope'
,'NoOfDays'
,'UserName'
]" styleClass="p-datatable-gridlines" scrollHeight="55vh">
    <ng-template pTemplate="caption">
        
        
    </ng-template>
    <ng-template pTemplate="header">
        
        <tr>
            <th style="width:200px">
                <tr>
                    <th>Market Leadtime Scope</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="MarketLeadtimeScope" display="menu" style="text-align: right;" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="MarketLeadtimeScope">
                            <p-sortIcon field="MarketLeadtimeScope"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>   
            <th style="width:100px">
                <tr>
                    <th>Module variant</th>
                    <th>
                        <div style="text-align: right;">
                            <!-- <p-columnFilter type="text" field="ModuleVariant" display="menu">
                            </p-columnFilter> -->
                            <p-columnFilter field="ModuleVariant" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="true">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold">Module variant Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="list" placeholder="Any" (onChange)="filter($event.value)" optionLabel="ModuleVariant" optionValue="ModuleVariant">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">                
                                                <span class="p-ml-1">{{option.ModuleVariant}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="ModuleVariant" style="text-align: right;">
                            <p-sortIcon field="ModuleVariant"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:450px">
                <tr>
                    <th>Module variant description</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="ModuleVariantDescription" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="ModuleVariantDescription">
                            <p-sortIcon field="ModuleVariantDescription"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:130px">
                <tr>
                    <th>Part ID</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="PartNumber" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true"></p-columnFilter>
                        </div>
                        <div pSortableColumn="PartNumber">
                            <p-sortIcon field="PartNumber"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="text-align: right; width:100px">
                <tr>
                    <th>Factory leadtime (*)</th>
                    <th>
                        <div>
                            <p-columnFilter type="numeric" field="leadtime" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true"></p-columnFilter>
                        </div>
                        <div pSortableColumn="leadtime">
                            <p-sortIcon field="leadtime"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>

            <th style="width:115px">
                <tr>
                    <th>Market leadtime scopes (*)</th>
                    <th>
                        <div>
                            <p-columnFilter type="numeric" field="Multipleleadtime" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true"></p-columnFilter>
                        </div>
                        <div pSortableColumn="Multipleleadtime">
                            <p-sortIcon field="Multipleleadtime"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <!-- <th style="width:115px">
                <tr>
                    <th>Agreed/Target Leadtime (*)</th>
                    <th>
                        <div>
                            <p-columnFilter type="numeric" field="AgreedTargetLeadtime" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                        </div>
                        <div pSortableColumn="AgreedTargetLeadtime">
                            <p-sortIcon field="AgreedTargetLeadtime"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th> -->
            <!-- <th style="width:115px">
                <tr>
                    <th>Temporary Deviation Leadtime (*)</th>
                    <th>
                        <div>
                            <p-columnFilter type="numeric" field="TemporaryDeviationLeadtime" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                        </div>
                        <div pSortableColumn="TemporaryDeviationLeadtime">
                            <p-sortIcon field="TemporaryDeviationLeadtime"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th> -->
        <!-- <th style="width:100px">
            <tr>
                <th>From Date</th>
                <th>
                    <div>
                        <p-columnFilter type="date" field="FromDate" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true"></p-columnFilter>
                    </div>
                    <div pSortableColumn="FromDate">
                        <p-sortIcon field="FromDate"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>
        <th style="width:100px">
            <tr>
                <th>To Date</th>
                <th>
                    <div>
                        <p-columnFilter type="date" field="ToDate" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true"></p-columnFilter>
                    </div>
                    <div pSortableColumn="ToDate">
                        <p-sortIcon field="ToDate"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th> -->
        <th style="width:100px">
            <tr>
                <th>Leadtime Deviation</th>
                <th>
                    <div>
                        <p-columnFilter type="numeric" field="LeadtimeDeviation" display="menu" [showMatchModes]="true" [showOperator]="false" [showAddButton]="true"></p-columnFilter>
                    </div>
                    <div pSortableColumn="LeadtimeDeviation">
                        <p-sortIcon field="LeadtimeDeviation"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </th>
    </tr>
        <!-- <tr>
            <th style="width:250px"></th>
            <th style="width:100px">
                <p-columnFilter field="ModuleVariant" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="list" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">                                    
                                    <span class="p-ml-1">{{option.ModuleVariant}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th style="width:450px"></th>
            <th style="width:130px"></th>
            <th style="width:100px"></th>
            <th style="width:115px"></th>
            <th style="width:100px"></th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-factoryleadtime>
        <tr>
            <td style="width:200px">{{factoryleadtime.Module}}</td>
            <td style="width:100px">{{factoryleadtime.ModuleVariant}}</td>
            <td style="width:450px">{{factoryleadtime.ModuleVariantDescription}}</td>
            <td style="width:130px">{{factoryleadtime.PartNumber}}</td>
            <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input style="text-align: right; width:60px" pInputText type="text"
                            [(ngModel)]="factoryleadtime.leadtime">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.leadtime}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="width:115px">{{factoryleadtime.Multipleleadtime}}</td>
            <!-- <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input style="text-align: right; width:60px" pInputText type="text"
                            [(ngModel)]="factoryleadtime.AgreedTargetLeadtime" (onChange)="onSaveClick()">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.AgreedTargetLeadtime}}
                    </ng-template>
                </p-cellEditor>
            </td> -->
            <!-- <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input style="text-align: right; width:60px" pInputText type="text"
                            [(ngModel)]="factoryleadtime.TemporaryDeviationLeadtime" (onChange)="onSaveClick()">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.TemporaryDeviationLeadtime}}
                    </ng-template>
                </p-cellEditor>
            </td> -->
            <!-- <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="factoryleadtime.FromDate" [ngModelOptions]="{standalone: true}" [showIcon]="true" dateFormat="dd/MM/yyyy"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.FromDate | date:'yyyy-MM-dd'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="factoryleadtime.ToDate" [ngModelOptions]="{standalone: true}" [showIcon]="true" dateFormat="dd/MM/yyyy"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.ToDate | date:'yyyy-MM-dd'}}
                    </ng-template>
                </p-cellEditor>
            </td> -->
            <td style="text-align: right; width:100px" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-button label="From Date: 20 Aug 2022 To 05 Sep 2022 Deviation: 5 Days" styleClass="p-button-link"></p-button>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryleadtime.LeadtimeDeviation}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>