<p-table #dt [value]="list" [scrollable]="true" [globalFilterFields]="['FactoryID'
,'Module'
,'ModuleVariant'
,'ModuleVariantDescription'
,'PartNumber'
,'LeadTime'
]" styleClass="p-datatable-gridlines" scrollHeight="55vh">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <div class="p-mt-2">
                <label for="Factory" class="p-mr-4">Select factory</label>
                <p-dropdown [options]="factoryList" [(ngModel)]="FactoryID" placeholder="Select factory"
                    optionLabel="FactoryName" optionValue="FactoryID" (onChange)="onFactorySelect($event)">
                    <ng-template let-item pTemplate="item">
                        {{item.FactoryName}}  ( {{item.ScopeValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                    <ng-template let-item pTemplate="selectedItem">
                        {{item.FactoryName}}  ( {{item.ScopeValidFrom | date: 'dd/MM/yyyy'}} )
                    </ng-template>
                </p-dropdown>

            </div>
            
            <!-- <div class="p-mt-4 p-ml-auto">
                <lable for="Product"  style="font-size: medium; font-weight: bold; color: blue;">Valid From 15/06/2022</lable>
            </div> -->
            <!-- <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span> -->
            <!-- <div>
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="onAddClick()" class="p-button-rounded"
                    title="New"></button>
            </div> -->
        </div>
        <div style="text-align: right;">
            <lable  style="font-size: small; color: blue;">(*): In Calendar Days</lable>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th style="width:75px">Edit</th>
            <th>Scope</th> -->
            <th style="width:250px">                
                <tr>
                    <th>Module</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="Module" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="Module">
                            <p-sortIcon field="Module"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:100px">
                <tr>
                    <th>Module variant</th>
                    <th>
                        <div style="text-align: right;">
                            <!-- <p-columnFilter type="text" field="ModuleVariant" display="menu">
                            </p-columnFilter> -->
                            <p-columnFilter field="ModuleVariant" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold">Module variant Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="list" placeholder="Any" (onChange)="filter($event.value)" optionLabel="ModuleVariant" optionValue="ModuleVariant">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">                
                                                <span class="p-ml-1">{{option.ModuleVariant}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="ModuleVariant" style="text-align: right;">
                            <p-sortIcon field="ModuleVariant"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:450px">                
                <tr>
                    <th>Module variant description </th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="ModuleVariantDescription" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="ModuleVariantDescription">
                            <p-sortIcon field="ModuleVariantDescription"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:100px">               
                <tr>
                    <th> Part ID</th>
                    <th>
                        <div>
                            <p-columnFilter type="text" field="PartNumber" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="PartNumber">
                            <p-sortIcon field="PartNumber"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:100px">               
                <tr>
                    <th> Factory leadtime (*)</th>
                    <th>
                        <div>
                            <p-columnFilter type="numeric" field="LeadTime" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="LeadTime">
                            <p-sortIcon field="LeadTime"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
            <th style="width:150px">               
                <tr>
                    <th> Agreed/Target Leadtime (*)</th>
                    <th>
                        <div>
                            <p-columnFilter type="numeric" field="AgreedTargetLeadtime" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            </p-columnFilter>
                        </div>
                        <div pSortableColumn="AgreedTargetLeadtime">
                            <p-sortIcon field="AgreedTargetLeadtime"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-factoryscopes>
        <tr>
            <!-- <td class="p-text-center" style="width:75px">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="onEditClick(factoryscopes)" title="Edit"></button>
            </td> -->
            <!-- <td>{{factoryscopes.Scope}}</td> -->
            <td style="width:250px">{{factoryscopes.Module}}</td>
            <td style="width:100px">{{factoryscopes.ModuleVariant}}</td>
            <td style="width:450px">{{factoryscopes.ModuleVariantDescription}}</td>
            <td style="width:100px">{{factoryscopes.PartNumber}}</td>
            <td style="text-align: right; width:100px">{{factoryscopes.LeadTime}}</td>
            <!-- <td style="text-align: right; width:150px">{{factoryscopes.AgreedTargetLeadtime}}</td> -->
            <td style="text-align: right; width:150px" pEditableColumn>
                <p-cellEditor >
                    <ng-template pTemplate="input">
                        <input style="text-align: right; width:80px" pInputText type="text" [(ngModel)]="factoryscopes.AgreedTargetLeadtime">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{factoryscopes.AgreedTargetLeadtime}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>